
body {
  background-image: url('imagens/imag_capa.jpeg');
  background-size: cover;

}

html, body {
    height: 100%;
    margin: 0; 
}
body {
    background-color: lightblue;
    font-family: sans-serif;
    
    display: flex;
    flex-direction: column; 
    min-height: 100vh;      
    text-align: center;     
}
main.container-destinos {

    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-wrap: wrap;         
}

table {
    border: 1px solid #555;
    border-collapse: collapse;
    margin: 10px; 
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    background-color: #eee;
}

img {
    max-width: 100%;
    display: block;
}

html, body {
    height: 100%; 
    margin: 0;    
    font-family: sans-serif;
    background-color: #f0f0f0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-vertical {
    display: flex;
    flex-direction: column; 
    width: 300px;           
}

.menu-vertical button {
    width: 100%;            
    padding: 18px;          
    margin-bottom: 12px;    
    
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background-color: #007bff; 
    
    border: none;           
    border-radius: 8px;     
    cursor: pointer;        
    transition: background-color 0.3s; 
}

.menu-vertical button:hover {
    background-color: #0056b3; 
}

.menu-vertical button:last-child {
    margin-bottom: 0;
}
h1 {
    text-align: center; 
    margin-top: 0;      
    width: 100%;        
}
p{

color: #E47833;

}

